/* Estilo para el contenedor principal */
.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }
  
  /* Estilo para el botón de página */
  .pages {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilo para el botón "Anterior" */
  .pagination-container button:first-child {
    order: -1; /* Mueve este botón al extremo izquierdo */
  }
  
  /* Estilo para el botón "Siguiente" */
  .pagination-container button:last-child {
    order: 1; /* Mueve este botón al extremo derecho */
  }
  