.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1500px;
    overflow:hidden
  }
  
  .driver-card {
    border: 2px solid #050000;
    margin: 10px;
    padding: 15px;
    max-width: 400px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    background-color: rgba(168, 166, 166, 0.8);
    display: flex;
    border-radius: 7%;
}

.driver-card img {
    width: 25%;
    height: auto;
    border: 1px solid #080000;
    border-radius: 25%;
    margin-right: 10px;
}

.driver-card h2 {
    font-family: Times New Roman;
    font-size: 1.4em;
    margin: 2px 0;
    text-align: center;
    position: relative;
}

.driver-card p {
    font-family: Times New Roman;
    font-size: 1.1em;
    color: #555;
    margin: 3px 0;
    text-align: right;
    white-space: pre-line; /* Esto permite saltos de línea */
    position: relative;
}

  .driver-card:hover {
    transform: scale(1.05);
  }